

/* Robot Condensed */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    background-color: tan;
}

/*The whole application window*/
.outer-shell{
    position:relative;
    margin:auto;
    background-color:white;
    width: 800px;
    height: 795px;
}

/*Text box containing "CHAT TRANSCRIPT"*/
#chat-transcript{
    position:absolute;
    left: 50px; top: 50px;
    font: 18px "Roboto Condensed";
    letter-spacing: 4px;
}

/*Text box containing conversation date*/
#conversation-date{
    position:absolute;
    right: 50px; top:50px;
    font: 18px "Roboto";
    color: #9a9a9a;
}

/*Line above conversation*/
hr {
    position: absolute;
    top: 100px; right:50px;
    width: 700px;
    height: 2px;
    border: 0;
    background-color: #eeeeee;
}



#chat-region {
    position:relative;
    display:inline-block;
    top:110px;
    height:685px;
    width:800px;
    /*background-color: #eeeeee;*/
}

.message {
    /*position:absolute;*/
    width:800px;
}

/*Container with text of message*/
.message-text-container {
    position:absolute;

    font: 16px "Roboto";
    line-height: 25px;
    padding:25px;
    
}

/*Whole container for sent messages. Includes avatar and
message bubble*/
.message-to {
    position:relative;
    /*background-color: #7FFFD4;*/

}

/*Whole container for received messages. Includes avatar and
message bubble*/
.message-from {
    position:relative;
/*background-color: #EE82EE;*/
 
}

.message-from-bubble{
    display:inline-block;
    position:absolute;
    top:30px; right:50px;
    width: 600px;
    
    background-color: #f3f3f3;
}

.message-to-bubble{
    display:inline-block;
    position:absolute;
    top:30px; left:50px;
    width: 600px;
    height: 150px;
    background-color: #f3f3f3;
}

/*Temporary CSS classes and IDs*/

#message1 {
       
    height: 180px;
}

#message2 {
    width: 800px;
    height: 180px;
}

#message3 {
    height: 161px;
}

#message4 {
    height: 126px;
}

.message-1-bubble {
    height: 150px;
}

.message-2-bubble {
    height: 150px;
}

.message-3-bubble {
    height: 131px;
}

.message-4-bubble {
    height: 96px;
}





.focus {
    /*Shadow:
    Opacity: 13%
    Distance: 15px down
    Size: 50px
    Color: black
    Spread: 0px

    box-shadow: offset-x | offset-y | blur-radius | spread-radius | color;
    */
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.13) !important;
    background-color: #FFFFFF !important;
}



/*Applies to all avatars*/
.avatar {
    border-radius:50%;
    width:50px;
    height:50px;

}

/*Applies to avatars of received messages*/
.avatar-from {
    position:absolute;
    top:42px; /*12px from top of chat bubble*/
    left:50px;
}

/*Applies to avatars of sent messages*/
.avatar-to {
    position:absolute;
    top:42px;
    right:50px;
}





